[submodule "libs/QuantLib"]
	path = libs/QuantLib
	url = git@github.com:lballabio/QuantLib.git
[submodule "libs/CPPFinancialData"]
	path = libs/CPPFinancialData
	url = https://github.com/KaleTEvans/CPPFinancialData.git
